textarea {
    width:100%;
}
input[type=submit] {
    margin-top:10px;
}

body {
    background-color: #FFFBF3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #A30000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h5{
    text-align: center;
    margin: 0px 50px 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}